# overwrite default < snippet
priority 99

global !p
import emmet
endglobal

snippet et "Test Emmet interpolation" b
# $1`!p import test_emmet; test_emmet.test_write(t, snip)`
endsnippet

post_jump "emmet.post_jump(snip)"
snippet e "Emmet interpolation" b
# $1`!p emmet.write(t, snip)`
endsnippet
